* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.logo {
    width: 150px;
}

/* .text {
    text-transform: uppercase;
} */

.nav-btn {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.open-btn {
    position: fixed;
    top: 10px;
    left: 10px; 
}

.open-btn span {
    font-size: 40px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.visible {
    transform: translateX(0%);
}

.nav-black {
    background-color: darkslategray;
    width: 60%;
    max-width: 480px;
    min-width: 320px;
    transition-delay: 0.3s;
}

.nav-black.visible {
    transition-delay: 0s;
}

.nav-red {
    background-color: red;
    width: 98%;
    transition-delay: 0.2s;
}

.nav-red.visible {
    transition-delay: 0.2s;
}

.nav-white {
    background-color: white;
    width: 98%;
    padding: 3rem;
    position: relative;
    transition-delay: 0s;
}

.nav-white.visible {
    transition-delay: 0.4s;
}

.close-btn {
    position: absolute;
    top: 70px;
    right: 30px;
}

.close-btn span {
    font-size: 30px;
}

.list {
    list-style-type: none;
    pad: 0;
}

.list:hover {
    color: red;
}

.list li {
    margin: 20px 0;
}

.list li a {
    color: darkslategray;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 5px;
    
}

.list li a:hover {
    color: blue;
}

.list ul {
    list-style-type: none;
    padding-left: 20px;  
}
